
@{
    ViewData["Title"] = "ConfirmPassword";
}

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-warning">
            <h4>Change Password</h4>
        </div>

        <div class="card-body">

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">@ViewBag.Error</div>
            }

            @if (ViewBag.Success != null)
            {
                <div class="alert alert-success">@ViewBag.Success</div>
            }

            <form method="post">

                <div class="mb-3">
                    <label>Old Password</label>
                    <input type="password" name="oldPassword" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label>New Password</label>
                    <input type="password" name="newPassword" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label>Confirm New Password</label>
                    <input type="password" name="confirmPassword" class="form-control" required />
                </div>


                <input type="submit" value=" Update Password" class="btn btn-primary" />



            </form>

        </div>
    </div>
</div>


